body{
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

/* Navigation CSS */
#nav2{
    height:50px;
}

#nav2{
    background: #558428;
    color:white;
    height:50px;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
 /* -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;*/
}

ul{
    width:80%;
}
/*
.wrap{ 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  height:28px;
}

.wrap2{ 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  height:28px;
}
*/

.flex-menu-item{
    margin-left:4%;
    margin-top:14px;
    float:left;
}

.menu-item-right{
    float:right;
}
/*
.flex-menu-item-s{
    margin-left:1%;
    margin-top:14px;
}*/

img[alt*="BuyLocal"]{
    width:50px;
    float:left;
    margin-top:3px;
    margin-left:15px;
}

img[alt*="icon"]{
    height:35px;
    padding:8px;
    margin-right:20%;
}

img[alt*="nav"]{
    height:35px;
}

.right{
    -webkit-align-items: flex-end;
    align-items: flex-end;
}

#search{
    height:25px;
    border-radius: 5px;
}

.container-1{
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  float:right;
}

.container-1 input#search{
  width: 250px;
  height: 40px;
  margin-top:5px;
  margin-left:20%;
  background:#F7F5EF;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.container-1 input#search::-webkit-input-placeholder {
   color: #65737e;
}
 
.container-1 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.container-1 input#search:-ms-input-placeholder {  
   color: #65737e;  
}

.container-1 .icon{
  position: absolute;
  margin-left:2%;
  margin-top:2%;
  z-index: 1;
  color:white;
  border-radius: 5px;
}

.icon{
    margin-top:2%;
    padding:10px 20px;
    background-color:#86D03F;
}

/* End */
/* Product CSS */
.productBox{
    border: solid green;
    padding:4%;
    width:31%;
}

img[alt="product"]{
    width:250px;
    height:200px;
}

/*Star Rating */
.star-five {
   margin: 50px 0;
   position: relative;
   display: block;
   color: red;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid red;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg) scale(.1);
   -webkit-transform: rotate(35deg) scale(.1);
   -ms-transform:     rotate(35deg) scale(.1);
   -o-transform:      rotate(35deg) scale(.1);
   float:left;
}
.star-five:before {
   border-bottom: 80px solid red;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0px;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
.star-five:after {
   position: absolute;
   display: block;
   color: red;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid red;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  font-size:20px;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1em;
}
/*
.rating > span:hover,
.rating > span:hover ~ span {
  color: transparent;
}*/

.rating > span.scoredRating,
.rating > span.scoredRating ~ span {
  color: transparent;
}
.rating > span.scoredRating:before,
.rating > span.scoredRating ~ span:before {
   content: "\2605";
   position: absolute;
   left: 0; 
   color: gold;
}
/*
.five{
   content: "\2605";
   position: absolute;
   left: 0; 
   color: gold;
}

.not{
    
}*/

/* Front page */

img[alt*="front"]{
    width:100%;
}

.flex-container-frontPage{
    display: -webkit-flex;
    display: flex;
    width: 100%;
}

.flex-item-frontPage{
    width: 60%;
    margin: auto;
}