body{
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

a{
    color:white;
}

/* Navigation CSS */
#nav2{
    height:50px;
}

#nav2{
    background: #558428;
    color:white;
    height:50px;
}

#searchBtn{
    background-color: #86D03F;
    color:white;
    border:none;
    font-weight: bold;
}

.flex-container-searchPage{
    width: 100%;
    float: left;
}

.flex-item-search{
    margin: auto;
    margin-left: 10%;
}
/*
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;*/
 /* -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;*/
/*}*/

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
 -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  display:inline;
}
.left{
    width:40%;
    float:left;    
}
.right{
    width:20%;
    float:right;
}


ul{
    width:80%;
}
/*
.wrap{ 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  height:28px;
}

.wrap2{ 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  height:28px;
}
*/

.flex-menu-item{
    margin-left:4%;
    margin-top:14px;
    float:left;
    cursor: pointer;
    background-color: #558428;
    color:white;
    border: none;
    font-size: 11pt;
}

.flex-menu-item-top{
    margin-left:4%;
    margin-top:14px;
    float:left;
    cursor: pointer;
    background-color: white;
    color: black;
}

.menu-item-right{
    float:right;
}
/*
.flex-menu-item-s{
    margin-left:1%;
    margin-top:14px;
}*/

img[alt*="BuyLocal"]{
    width:50px;
    float:left;
    margin-top:3px;
    margin-left:15px;
}

img[alt*="icon"]{
    height:35px;
    padding:8px;
    margin-right:20%;
}

img[alt*="nav"]{
    height:35px;
    cursor: pointer;
}

#search{
    height:25px;
    border-radius: 5px;
}

.container-1{
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
 /* float:right;*/
 margin-left: 58%;
}

.container-1 input#search{
  width: 250px;
  height: 40px;
  margin-top:5px;
  margin-left:26%;
  background:#F7F5EF;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.container-1 input#search::-webkit-input-placeholder {
   color: #65737e;
}
 
.container-1 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.container-1 input#search:-ms-input-placeholder {  
   color: #65737e;  
}

.container-1 .icon{
  position: absolute;
  margin-left:5px;
  margin-top:5px;
  z-index: 1;
  color:white;
  border-radius: 5px;
}

.icon{
    padding:12px 20px;
    background-color:#86D03F;
    border:none;
    cursor: pointer;
}

/* End */
.producerBox{
    border: solid #558428;
    float:left;
    margin-bottom:3%;
    margin-right:3%;
}


/* Product CSS */
.productBox{
    border: solid #558428;
    float:left;
    margin-bottom:3%;
    margin-right:3%;
    /*padding:1%;*/
    width:275px;
}

img[alt="product"]{
    width:200px;
    height:150px;
}

img[alt="producer"]{
    width:250px;
    height:200px;
}

.flex-item-producer{
    margin:auto;
}

.flex-container-producer{
    margin-left:7%;
}


.flex-container-prodPage{
    width:70%;
    float:left; 
    margin-left:2%;
}

.alignPrice{
    margin-left:22px;
}

hr{
    margin:6% 0%;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  font-size:20px;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1em;
}
/*
.rating > span:hover,
.rating > span:hover ~ span {
  color: transparent;
}*/

.rating > span.scoredRating,
.rating > span.scoredRating ~ span {
  color: transparent;
}
.rating > span.scoredRating:before,
.rating > span.scoredRating ~ span:before {
   content: "\2605";
   position: absolute;
   left: 0; 
   color: gold;
}

/* Front page */

img[alt*="front"]{
    width:100%;
}

.flex-container-frontPage{
    display: -webkit-flex;
    display: flex;
    width: 100%;
}

.flex-item-frontPage{
    width: 60%;
    margin: auto;
}

.flex-item-product{
    margin: auto;
}

.rate{
    margin-left:15px;
    margin-bottom:20px;
}

.btn{
    width:100%;
    background-color: white;
    border: none;
    border-top: solid #558428;/*
    border-bottom: solid #558428;*/
    padding: 4% 0%;
    margin-top:5%;
}

.formBtn{
    width:80%;
    float: left;
}

.formBtn2{
    width:20%;
    float: left;
}

.btn2{
    width:100%;
    background-color:#558428;
    color:white;
    border: none;
    border-top: solid #558428;
    border-bottom: solid #558428;
    padding: 2% 0%;
}

/* Modal */
.modal {
    overflow:auto;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5px auto;
    width: 100%; /* Could be more or less, depending on screen size */
}

.content{
    background-color: #fefefe;
    width:40%;
    margin: 5px auto;
}

.close {
    position: absolute;
    right: 20px;
    top: 0px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

#loginImg{
    margin: 2%;
    margin-top: 5%;
}

.field{
  width: 250px;
  height: 40px;
  margin-top:5px;
  background:#F7F5EF;
  border: #eeeadd 2px solid;
  font-size: 10pt;
  color: #63717f;
  padding-left:10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.button {
    background-color: #558428;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid #558428;
}

.button:hover {
    background-color: white; 
    color: black; 
    border: 2px solid #558428;
}

/*Registration Page */

#username, #password, #email, #fname, #lname #address{
    width:50%;
    margin: 0% 0% 2% 2%;
}

.forms{
    margin:2% auto;
    padding:2% 0%;
  background:#DEFFC1;
    width:50%;
}

.form-group{
    text-align: right;
    margin-right:25%;
}

.form-group2{
    text-align: right;
    margin-right: 40%;

}

/*Filter*/
.flex-container-filter{
    width:20%;
    float:left;
    margin-bottom:10%;
}

.filterCheckbox{
    width:100%;
}

.flex-container-filter{
    margin-left:2%;
    border: 3px solid #558428;
    padding:0% 2%;
    
}

.titleBar{
    color: #558428;
    overflow: auto;
}

.ratingFilter .priceFilter .sortFilter .originFilter .dietFilter{
    margin:6% 0%;
}

/* About Page */
.flex-container-aboutPage{
    display: -webkit-flex;
    display: flex;
    width: 100%;
    position: relative;
}

#imgForText{
    position: absolute;
    left: 0;
    top: 0;
}

#textAlignImg {
    z-index: 100;
    position: absolute;
    color: white;
    font-size: 70pt;
    font-weight: bold;
    left: 30%;
    top: 225px;
}

.contact{
    padding:2% 0%;
    background-color:#91D054;
    width:100%;
    margin:auto;
}

/*Index */
.flex-item-productPop{
    width:100%;
    margin-left:15%;
}

.productBoxPop{
    border: solid #558428;
    float:left;
    margin-bottom:3%;
    margin-right:3%;
    width:250px;
}

.flex-item-frontPageHalf{
    width:50%;
    float:left;
}

img[alt="delivery"]{
    width:50px;
    float:left;
    margin-top:3px;
    margin-left:15%;
    margin-right:4%;
}

.delivery{
    list-style: none;
    padding:4%;
}

.flex-container-frontPage  .flex-item-frontPageHalf:first-of-type{
    margin-left:15%;
}

.flex-item-frontPageHalf > p, h2{
    width:80%;
    margin:auto;
}

.beginning{
    margin-top: 32%;
}

/*
.flex-container-frontPage{
    display: -webkit-flex;
    display: flex;
    width: 100%;
}

.flex-item-frontPage{
    width: 60%;
    margin: auto;
}*/

.x{
    position: relative;
    top: 15px;
}

.close {
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}


/* Basket */
#circle {
      width: 20px;
      height: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border: #91D054 2px solid ;
      border-radius: 20px;
      background:white;
      position: relative;
      left: -25px;
      top: 15px;
}

#basketNo{
    margin-left:5px;
}

.container-fluid{
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items:center;
    padding:2%;
    width:80%;
    margin-left:10%;
}
.container-fluid img{
    width:20%;
}

.basketContent{
    margin-left:5%;
    width:80%;
}

.alignRight{
    float:right;
    margin-right: 10%;
}

.alignTotal{
    float:right;
    margin-left:850px;
}

.basketHr{
    width:75%;
    margin:0% 12%;
}

.alignCheckoutBtn{
    margin-left:700px;
}


/*Fav Star*/
/*None Fav*/
.favStar{
    width:100%;
    font-size:20pt;
    color:white;
    background-color:#86D03F;
    border:none;
    margin-top: 20%;
}

/*Fav*/
.favStar{
    width:100%;
    font-size:20pt;
    color:white;
    background-color:#86D03F;
    border:none;
    margin-top: 20%;
}

.flex-container-favPage{
    display:flex;
    margin:auto;
    width:95%;
    float:left; 
    margin-left:4%;
}

.flex-item-fav{
    margin:auto;
    width:100%;
}


/*Map*/
#producerMap{
    display:block;
    margin:5%;

}


/* Footer */
footer{
    width:100%;
    background-color: #558428;
    padding:1% 0%;
    margin-top:2%;
    color:white;
    overflow:auto;
}

footer p{
    padding-left:2%;
}

/* Checkout */
.fieldSpace{
    width:450px;
}

.processOrder h2{
    width: 100%;
    margin: 4% 0% 1% 0%;
}

#logoutBox{
    position:absolute;
    z-index: 2;
    top:200px;
    margin-left:40%;
    background-color:white;
    border: #86D03F 3px solid;
    padding:2%;
}

#logout{
    border:#86D03F 2px solid;
    padding:3% 3%;    
    font-size: 11pt;
}

#producerLocations{
    display:block;
    width:100%;
}